<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBD76WqrMjSJ4BqBCTqduskGUE2Kg3_1YM</string>
	<key>GCM_SENDER_ID</key>
	<string>470225020344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zewe.app</string>
	<key>PROJECT_ID</key>
	<string>zewe-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>zewe-chat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470225020344:ios:08e4f9e12d9a21eab11b4d</string>
</dict>
</plist>